
body {
  font-family: Arial, sans-serif;
  margin: auto;
  background-color: #0e133a;
}


.logo-header {
  text-align: center;
  padding: 30px;
  background-color: #a8962e;

}

.logo-img {
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 10px 1px rgba(12, 12, 12, 0.2);
}
nav {
  background-color: #5e5f0a;
  padding: 10px;
  text-align: left;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
main {
  padding: 20px;
}

section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

thead {
  background-color: #ddd;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
}


/* Estilos para el formulario de inicio de sesión */
.form-container {
  max-width: 500px;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
}


fieldset {
  border: 1px solid #666464;
  padding: 20px;
  border-radius: 5px;
}

legend {
  font-weight: bold;
  padding: 0 10px;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #081c31;
}
header.logo {
  padding: 20px;
  text-align: right;
  color: white;
}
.logo-img2 {
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 10px 1px rgba(12, 12, 12, 0.2);

}
.title-header {
  margin-top: -170px;
  height: 150px;
  text-align: left;
  padding: 20px;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px #eee7e7;
}
.title{ 
  margin-top: 10px;
  margin-bottom: -170px;
  height: 150px;
  text-align: left;
  padding: 20px;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px #eee7e7;
  
}